.search{
    display: block;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 1.5em;
    margin-bottom: 10px;
    border:solid 4px #8d8b30;
  }
  .search input{
    border: none;
    background-color: rgb(233, 233, 233);
    
  }
  .search input:focus{
    outline: blue;
  }
  .clear{
    position: relative;
    float: right;
    right: -24px;
    top: -24px;
    cursor: pointer;
    padding: 25.9px 28px;
    background-color: rgb(141 139 48);
    border: none;
  }