.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note.new {
  white-space: pre-wrap;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  background-color: rgb(230 230 230);
  border: 1.5px solid rgb(141 139 48);
  overflow-wrap: break-word;
  overflow: auto;
  text-overflow: ellipsis;
  max-height: 15ch;
}
